@page
@model KanarkiHercenskie.Pages.KartaOceny.IndexModel
@{
	ViewData["Title"] = "Karta Oceny PFO";
}

<div class="alert alert-info alert-dismissible fade show py-4 px-5" role="alert">
	<h5 class="mb-3">Informacje</h5>
	<h6>Parametry URL</h6>
	<p>
		Strona Karty Oceny PFO pozwala na wskazanie Konkursu oraz Hodowcy zarejestrowanych w systemie poprzez podanie ich identyfikatorów 
		jako parametrów w adresie URL: <var>idKonkursu</var> oraz <var>sygnumHodowcy</var> (przykład końcówki adresu URL: 
		<strong>?idKonkursu=1&sygnumHodowcy=P172</strong>). Automatycznie uzupełnione zostaną wtedy pola: <var>Ranga konkursu, Miejscowość, Data, 
		Hodowca (imię i nazwisko), Sygnum hodowcy</var>; a także, jeśli Hodowca zarejestrował już Kolekcję na dany Konkurs, <var>Numery obrączek rodowych</var> 
		ptaków w odpowiednich Klatkach. Ponadto, jeśli dla danej Kolekcji został już ustalony termin Przesłuchania, również pojawi się on na Karcie Oceny
		(pola <var>Data przesłuchania, Godzina (od), (godzina) do</var>).
	</p>
	<h6>Rejestracja poprzez Kartę Oceny</h6>
	<p>
		Formularz pozwala również na zarejestrowanie nowego Konkursu, Hodowcy (wystarczy podać jego <var>Imię i Nazwisko, 
		Sygnum Hodowcy</var> zostanie wygenerowane automatycznie), Kolekcji oraz Przesłuchania w momencie wysłania formularza.
	</p>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
	<h5 class="mb-3">Ograniczenia</h5>
	<h6>Wprowadzenie Wyników nie powiedzie się, gdy:</h6>
	<ul>
		<li>
			nie zostało uzupełnione pole <var>Miejscowość</var>,
		</li>
		<li>
			nie zostało uzupełnione pole <var>Hodowca (imię i nazwisko)</var>, lub format danych do niego wprowadzonych nie pokrywa się 
			z oczekiwanym (wyrażenie regularne: <span class="d-inline-block">"^[A-Z][a-z]+\s[A-Z][a-z]+$")</span>;
		</li>
		<li>
			uzupełnione zostało pole <var>Sygnum hodowcy</var>, jednak w systemie nie został znaleziony Hodowca o podanym <var>Sygnum</var>, 
			lub zawartość pola <var>Hodowca (imię i nazwisko)</var> nie pokrywa się z <var>Imieniem</var> i <var>Nazwiskiem</var> 
			Hodowcy zarejestrowanego w systemie pod danym <var>Sygnum</var>;
		</li>
		<li>
			wskazany Hodowca zarejestrował już Kolekcję na dany Konkurs, a podane <var>Numery obrączek rodowych</var> nie pokrywają się 
			z danymi zapisanymi w systemie;
		</li>
		<li>
			wskazany Hodowca zarejestrował już Kolekcję na dany Konkurs i zostało jej przypisane Przesłuchanie, a podane <var>Data</var> 
			lub <var>Godzina (od)</var> nie pokrywają się z danymi zapisanymi w systemie (<var>(godzina) Do</var> może zostać zmieniona 
			poprzez Kartę Oceny);
		</li>
		<li>
			wskazany Hodowca zarejestrował już Kolekcję na dany Konkurs, i została już ona oceniona (w systemie istnieje choć jeden Wynik),
		</li>
		<li>
			<var>Liczba przyznanych punktów</var> za którąkolwiek z Cech Śpiewu przekracza określoną dla niej <var>Maksymanlną liczbę punktów</var>.
		</li>
	</ul>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


@if (Model.BrakMiejscowosci) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		Należy podać <var>Miejscowość</var>.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (Model.BrakDanychHodowcy || Model.NiepoprawnyFormatDanychHodowcy) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		Należy podać dane Hodowcy (<var>imię i nazwisko</var> oraz <var>Sygnum</var>, jeśli został wcześniej zarejestrowany).
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (Model.BledneImieNazwisko) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		Hodowca o podanym <var>Sygnum</var> jest zarejestrowany w systemie, jednak jego <var>Imię</var> lub <var>Nazwisko</var>
		nie zgadzają się z danymi wprowadzonymi w formularzu.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (Model.NieZnalezionoHodowcy) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		W systemie nie zarejestrowano Hodowcy o podanym <var>Sygnum</var>.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@for (int i = 0; i < 4; ++i) {
	if (Model.BlednyNumerObraczkiRodowej[i])
	{
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		<var>Numer obrączki rodowej</var> ptaka w Klatce nr @(i + 1) nie zgadza się z danymi zapisanymi w systemie.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	}
}
@if (Model.BlednaDataPrzesluchania || Model.BlednaGodzinaRozpoczeciaPrzesluchania) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		<var>Data</var> lub <var>Godzina rozpoczęcia</var> Przesłuchania nie zgadzają się z danymi zapisanymi w systemie.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (Model.KolekcjaJuzOceniona) {
	<div class="alert alert-danger alert-dismissible fade show py-4 px-5" role="alert">
		Kolekcja została już oceniona (<a asp-page="../Wyniki/Index">Wyniki</a>).
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="container border p-5">

	@* NAGŁÓWEK *@
	<div class="container text-center mb-5">
		<h2>Karta oceny PFO</h2>
		<h3>Kanarek herceński</h3>
	</div>

	<form method="post">
		@* DANE KONKURSU *@
		<div class="row mb-3">
			@* Ranga *@
			<label asp-for="Konkurs.Ranga" class="col-auto col-form-label">
				Ranga konkursu:
			</label>
			<div class="col">
				<select asp-for="Konkurs.Ranga" asp-items="Html.GetEnumSelectList(Model.Konkurs.Ranga.GetType())"
					    class="form-control"></select>
			</div>
		</div>
		<div class="row mb-3">
			@* Miejscowość *@
			<label asp-for="Konkurs.Miejscowosc" class="col-auto col-form-label">
				Miejsowość:
			</label>
			<div class="col">
				<input asp-for="Konkurs.Miejscowosc" class="form-control @(Model.BrakMiejscowosci ? "border-danger alger-danger" : "")" />
			</div>
			@* Data *@
			<label asp-for="Konkurs.Data" class="col-auto col-form-label">
				Data:
			</label>
			<div class="col-auto">
				<input asp-for="Konkurs.Data" class="form-control" />
			</div>
		</div>

		@* DANE HODOWCY *@
		<div class="row mb-3">
			@* Imię i Nazwisko *@
			<label asp-for="ImieNazwiskoHodowcy" class="col-auto col-form-label">
				Hodowca (imię i nazwisko):
			</label>
			<div class="col">
				<input asp-for="ImieNazwiskoHodowcy" class="form-control 
					@(Model.BledneImieNazwisko || Model.NiepoprawnyFormatDanychHodowcy || Model.BrakDanychHodowcy ? "border-danger alger-danger" : "")" />
			</div>
		</div>

		@* TABELA *@
		<table class="table table-bordered text-center">
			@* PIERWSZY WIERSZ *@
			<tr class="align-middle">
				@* Numery obrączek rodowych *@
				<th class="text-start ps-4">
					<label>Nr obrączki rodowej</label>
				</th>
@for (int i = 0; i < 4; ++i) {
				<td>
					<input asp-for="NumeryObraczekRodowych[i]" type="text" style="width: 6ch;" 
						class="form-control mx-auto my-2 text-center @(Model.BlednyNumerObraczkiRodowej[i] ? "border-danger alger-danger" : "")" />
				</td>			
}

				@* Sygnum Hodowcy *@
				<th style="width: 40%;" class="text-start ps-2">
					<div class="container row mx-auto">
						<label asp-for="Hodowca.SygnumHodowcy" class="col col-form-label">
							Sygnum hodowcy:
						</label>
						<input asp-for="Hodowca.SygnumHodowcy" class="col form-control me-4 
							@(Model.BrakDanychHodowcy || Model.NieZnalezionoHodowcy ? "border-danger alger-danger" : "")" 
							value="@(Model.SygnumHodowcy != null ? Model.SygnumHodowcy : "")" />
					</div>
					@*<div class="container row mx-auto">
						<span asp-validation-for="Hodowca.SygnumHodowcy" class="text-danger fw-normal"></span>
					</div>*@
				</th>
			</tr>

			@* DRUGI WIERSZ *@
			<tr class="align-middle">
				@* Numery klatek konkursowych *@
				<th class="text-start ps-4">
					<label>Nr klatki konkursowej</label>
				</th>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				@* INFORMACJE O PRZESŁUCHANIU *@
				<td rowspan="2">
					<div class="container row mx-auto py-2">
						@* Data *@
						<div class="container row mb-3 text-start">
							<label asp-for="Przesluchanie.Data" class="col col-form-label">
								Data przesłuchania: 
							</label>
							<input asp-for="Przesluchanie.Data" style="width: auto;" class="col-auto form-control
								@(Model.BlednaDataPrzesluchania ? "border-danger alger-danger" : "")" />
						</div>
						<div class="container row">
							@* Godzina Od *@
							<label asp-for="Przesluchanie.GodzinaOd" class="col col-form-label text-start">
								Godzina: 
							</label>
							<input asp-for="Przesluchanie.GodzinaOd" style="width: auto;" class="col-auto form-control
								@(Model.BlednaGodzinaRozpoczeciaPrzesluchania ? "border-danger alger-danger" : "")" />
							@* Godzina Do *@
							<label asp-for="Przesluchanie.GodzinaDo" class="col col-form-label">
								do 
							</label>
							<input asp-for="Przesluchanie.GodzinaDo" style="width: auto;" class="col-auto form-control" />
						</div>
					</div>
				</td>
			</tr>

			@* PUNKTACJA *@
			@* PUNKTY DODATNIE *@
			<tr class="text-center align-middle">
				<th colspan="5">PUNKTY DODATNIE</th>
			</tr>
@for (int i = 0; i < Model.CechyDodatnie.Count(); ++i) {
			<tr class="align-middle">
				<td>
					<div class="container row">
						<div class="col-8 text-start">
							@Model.CechyDodatnie[i].Nazwa
						</div>
						<div class="col-1 text-end @(Model.WynikiDodatnie[i].BledyWalidacji.Contains(true) ? "text-danger fw-bold" : "")"> do </div>
						<div class="col-2 text-end mx-0 @(Model.WynikiDodatnie[i].BledyWalidacji.Contains(true) ? "text-danger fw-bold" : "")">
							@Model.CechyDodatnie[i].MaksPunktow
						</div>
						<div class="col-1 @(Model.WynikiDodatnie[i].BledyWalidacji.Contains(true) ? "text-danger fw-bold" : "")"> pkt </div>
					</div>
				</td>
				<td>
					<input asp-for="WynikiDodatnie[i].PrzyznanePunkty[0]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiDodatnie[i].BledyWalidacji[0] ? "border-danger alert-danger" : "")" /> 
				</td>
				<td>
					<input asp-for="WynikiDodatnie[i].PrzyznanePunkty[1]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiDodatnie[i].BledyWalidacji[1] ? "border-danger alert-danger" : "")" />
				</td>
				<td>
					<input asp-for="WynikiDodatnie[i].PrzyznanePunkty[2]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiDodatnie[i].BledyWalidacji[2] ? "border-danger alert-danger" : "")" />
				</td>
				<td>
					<input asp-for="WynikiDodatnie[i].PrzyznanePunkty[3]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiDodatnie[i].BledyWalidacji[3] ? "border-danger alert-danger" : "")" />
				</td>
			</tr>
}
			<tr class="align-middle">
				<th>
					<div class="container row">
						<div class="col-8 text-start">
							Razem punkty dodatnie
						</div>
						<div class="col-1 text-end @(Model.PrzekroczonoMaksPunktowDodatnich.Contains(true) ? "text-danger fw-bold" : "")"> do </div>
						<div class="col-2 text-end mx-0 @(Model.PrzekroczonoMaksPunktowDodatnich.Contains(true) ? "text-danger fw-bold" : "")">
							90
						</div>
						<div class="col-1 @(Model.PrzekroczonoMaksPunktowDodatnich.Contains(true) ? "text-danger fw-bold" : "")"> pkt </div>
					</div>
				</th>
			@for (int i = 0; i < 4; ++i)
			{
				<td>
					<input asp-for="@Model.RazemPunktyDodatnie[i]" readonly type="text" style="width: 6ch;" 
						class="form-control mx-auto my-1 text-center @(Model.PrzekroczonoMaksPunktowDodatnich[i] ? "border-danger alert-danger text-danger" : "")" />
				</td>
			}
			</tr>

			@* PUNKTY UJEMNE *@
			<tr class="text-center align-middle">
				<th colspan="5" class="py-3">PUNKTY UJEMNE</th>
			</tr>
@for (int i = 0; i < Model.CechyUjemne.Count(); ++i) {
			<tr class="align-middle">
				<td>
					<div class="container row">
						<div class="col-8 text-start">
							@Model.CechyUjemne[i].Nazwa
						</div>
						<div class="col-1 text-end"> do </div>
						<div class="col-2 text-end mx-0 ">
							@Model.CechyUjemne[i].MaksPunktow
						</div>
						<div class="col-1"> pkt </div>
					</div>
				</td>
				<td>
					<input asp-for="WynikiUjemne[i].PrzyznanePunkty[0]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiUjemne[i].BledyWalidacji[0] ? "border-danger alert-danger" : "")" /> 
				</td>
				<td>
					<input asp-for="WynikiUjemne[i].PrzyznanePunkty[1]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiUjemne[i].BledyWalidacji[1] ? "border-danger alert-danger" : "")" />
				</td>
				<td>
					<input asp-for="WynikiUjemne[i].PrzyznanePunkty[2]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiUjemne[i].BledyWalidacji[2] ? "border-danger alert-danger" : "")" />
				</td>
				<td>
					<input asp-for="WynikiUjemne[i].PrzyznanePunkty[3]" type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center 
                                  @(Model.WynikiUjemne[i].BledyWalidacji[3] ? "border-danger alert-danger" : "")" />
				</td>
			</tr>
}
			<tr class="align-middle">
				<th>
					<div class="container row">
						<div class="col-8 text-start">
							Razem punkty ujemne
						</div>
					</div>
				</th>
			@for (int i = 0; i < 4; ++i)
			{
				<td>
					<input asp-for="@Model.RazemPunktyUjemne[i]" readonly type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center" />
				</td>
			}
			</tr>

			@* OCENA OGÓLNA *@
			<tr class="text-center align-middle">
				<th colspan="6" class="py-3">
					OCENA OGÓLNA
				</th>
			</tr>
			<tr class="align-middle">
				<td>
					<div class="container row">
						<div class="col-8 text-start">
							Ocena eksperta I
						</div>
					</div>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>

				@* OCENA KOLEKCJI *@
				<td rowspan="3" class="container w-auto align-top p-4 text-start">
					<label class="form-label h6">Ocena kolekcji</label> <br />
					<div class="container mt-5 pe-5 row">
						<div class="container col-7 text-end pe-5">
							<input type="submit" value="Wyślij" class="btn btn-primary" />
						</div>
						<input asp-for="@Model.OcenaKolekcji" readonly type="text" 
					           class="form-control col mx-auto my-1 text-center" />
						<div class="col-1 mt-2"> pkt </div>
					</div>
				</td>
			</tr>
			<tr class="align-middle">
				<td>
					<div class="container row">
						<div class="col-8 text-start">
							Ocena eksperta II
						</div>
					</div>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
				<td>
					<input type="number" class="form-control mx-auto my-2" style="width: 6ch;"/>
				</td>
			</tr>
			<tr class="align-middle">
				<th>
					<div class="container row">
						<div class="col-8 text-start">
							Ocena końcowa
						</div>
					</div>
				</th>
			@for (int i = 0; i < 4; ++i)
			{
				<td>
					<input asp-for="@Model.OcenaKoncowa[i]" readonly type="text" style="width: 6ch;" 
					       class="form-control mx-auto my-1 text-center" />
				</td>
			}
			</tr>
		</table>
	</form>
</div>

