@page
@model KanarkiHercenskie.Pages.Konkursy.IndexModel

@{
    ViewData["Title"] = "Konkursy";
}

<h2>Konkursy</h2>

<p>
    <a asp-page="Create">Dodaj Konkurs</a>
</p>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Konkursy[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konkursy[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konkursy[0].Miejscowosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konkursy[0].Ranga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Konkursy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miejscowosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranga)
            </td>
            <td style="width: 48ch;">
                @* <a asp-page="./Details" asp-route-id="@item.ID">Szczegóły</a> | *@
                <a asp-page="" asp-route-id="@item.ID">Podgląd Kolekcji</a> |
                <a asp-page="../Kolekcje/Create" asp-route-idKonkursu="@item.ID">Zarejestruj Kolekcję</a> | 
                <a asp-page="./Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.WybranyKonkurs != null) {
<h5 class="mt-5 ms-2">Kolekcje zarejestrowane na Konkurs: @Model.WybranyKonkurs.Podsumowanie</h5>
    @if (Model.WybranyKonkurs.ZgloszoneKolekcje.Count() > 0)
    {
        <table class="table table-hover text-center mt-3">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="4">Numer obrączki rodowej kanarka w Klatce numer:</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <a asp-page="" asp-route-id="@Model.WybranyKonkurs.ID" asp-route-sortuj="CIH">
                            Właściciel
                        </a>
                    </th>
                    <th style="width: 12ch; min-width: 4ch;">1</th>
                    <th style="width: 12ch; min-width: 4ch;">2</th>
                    <th style="width: 12ch; min-width: 4ch;">3</th>
                    <th style="width: 12ch; min-width: 4ch;">4</th>
                    <th style="width: 36ch;">
                        <a asp-page="" asp-route-id="@Model.WybranyKonkurs.ID" asp-route-sortuj="NajwczesniejszePrzesluchanie">
                            Przesłuchanie
                        </a>
                    </th>
                    <th style="width: 20ch;">
                        <a asp-page="" asp-route-id="@Model.WybranyKonkurs.ID" asp-route-sortuj="NajlepszyWynik">
                            Ocena Kolekcji
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kolekcja in Model.WybranyKonkurs.ZgloszoneKolekcje)
                {
                    <tr>
                        <td>
                            @kolekcja.Wlasciciel.Podsumowanie
                        </td>
                        @for (int i = 0; i < 4; ++i)
                        {
                            <td>
                                @(String.Format("{0:D3}", kolekcja.Klatki[i].NrObraczkiRodowej))
                            </td>
                        }
                        <td>
                            @if (kolekcja.Przesluchanie != null)
                            {
                                string termin = "";

                                @if (kolekcja.Przesluchanie.Data != null)
                                {
                                    var pd = kolekcja.Przesluchanie.Data.Value;
                                    DateOnly data = new DateOnly(pd.Year, pd.Month, pd.Day);
                                    termin += data.ToString();

                                    if (kolekcja.Przesluchanie.GodzinaOd != null)
                                    {
                                        var pgod = kolekcja.Przesluchanie.GodzinaOd.Value;
                                        TimeOnly godzinaOd = new TimeOnly(pgod.Hour, pgod.Minute);
                                        termin += $", od godz. {godzinaOd}";

                                        if (kolekcja.Przesluchanie.GodzinaDo != null)
                                        {
                                            var pgdo = kolekcja.Przesluchanie.GodzinaDo.Value;
                                            TimeOnly godzinaDo = new TimeOnly(pgdo.Hour, pgdo.Minute);
                                            termin += $" do {@godzinaDo}";
                                        }
                                    }
                                }

                                if (termin == "")
                                {
                                    termin = "Ustal termin";
                                }

                                <a asp-page="../Przesluchania/Edit" asp-route-id="@kolekcja.Przesluchanie.ID">@termin</a>
                            }
                            else
                            {
                                <a asp-page="../Przesluchania/Create" asp-route-idKolekcji="@kolekcja.ID">Dodaj termin</a>
                            }
                        </td>
                        <td>
                            @if (Model.WynikiKonkursu.Where(w => w.PrzyznanoDla.ID_Kolekcji == kolekcja.ID).Any())
                            {
                                int ocenaKolekcji = Model.WynikiKonkursu
                                    .Where(w => w.PrzyznanoDla.ID_Kolekcji == kolekcja.ID)
                                    .Sum(w => w.PrzyznanePunkty * (int)(w.PrzyznanoZa.WagaPunktow));

                                int ranking = Model.WybranyKonkurs.ZgloszoneKolekcje.Count() - Model.WybranyKonkurs.ZgloszoneKolekcje
                                    .Where(k => Model.WynikiKonkursu.Where(w => w.PrzyznanoDla.ID_Kolekcji == k.ID)
                                                    .Sum(w => w.PrzyznanePunkty * (int)(w.PrzyznanoZa.WagaPunktow)) < ocenaKolekcji)
                                    .Count();

                                @($"{ocenaKolekcji} pkt (#{ranking})")
                            }
                            else
                            {
                                @("-")
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <h6 class="ms-2">Na ten Konkurs nie zarejestrowano jeszcze żadnej Kolekcji.</h6>
    }
}
